<h1>Register</h1>

<!-- Display the message if available -->
<div class="messageClass <%= messageClass %>">
    <% if (message) { %>
        <p><%= message %></p>
        <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
    <%  } %>
</div>

<form action="/register" method="POST">
    
    <label for="firstname">First Name</label>
    <input type="text" name="firstname" placeholder="Enter first Name">

    <label for="lastname">Last Name</label>
    <input type="text" name="lastname" placeholder="Enter Last Name">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter User Name">

    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Enter Email">

    <label for="password">Password</label>
    <input type="text" name="password" placeholder="Enter Password">

    <label for="password2">Confirm Password</label>
    <input type="text" name="password2" placeholder="Confirm Password">

    <button type="submit" class="btn">Register</button>
</form>