<header class="header">
    <% if (!userToken) { %>
     <a href="/" class="header_logo">Blog Post</a>
    <% } else { %>
        <a href="/dashboard" class="header_logo">Admin Panel</a>
    <% } %>
    

    <nav class="header_nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <% if (userToken) { %>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            <% } else { %>
                <li>
                    <a href="/login">Login</a>
                </li>
            <% } %>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="header_button">
        <button class="search_button" aria-expanded="false">
            Search
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
              </svg>
        </button>
    </div>
</header>