<header class="header">

    <a href="/" class="header_logo">Blog Post</a>

    <nav class="header_nav">
        <ul>
            <% if (userToken) { %>
             <li>
                <a href="/dashboard">DASHBOARD</a>
             </li>
             <li>
                <a href="/archive">ARCHIVED POSTS</a>
             </li>
            <% } else { %>
                <li>
                    <a href="/">HOME</a>
                </li>
            <% } %>
            <% if (userToken) { %>
                <!-- Show Logout only if the user has a token -->
                <li>
                    <a href="/logout">Logout</a>
                </li>
            <% } else { %>
                <!-- Show Login only if the user doesn't have a token -->
                <li>
                    <a href="/login">Login</a>
                </li>
            <% } %>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- <div class="header_button">
        <button class="logout_button">
            Logout
        </button>
    </div> -->
</header>
