<h1>ABOUT</h1>

<p>Johnson Oragui is a student in ALX Software Engineering Program.</p>
<p>He started out with the intension of breaking into the world of Tech.</p>
<p>After countless stumbling blocks, and constant instability in his life,</p>
<p>He unbelivably made it this far.</p>
<br>
<p>Johnson is a software engineer who loves to learn new things.</p>
<p>He is passionate about learning new things and trying to make the world a better place.</p>
<p>He thought that building this Blog App will help him utilize what he learnt so far which includes:</p>
<br>
<ul>
    <li>
        Asynchronous programming
        <ul>
            <li>
                await
            </li>
            <li>
                try and catch exceptions
            </li>
        </ul>
    </li>
    <li>
        noSQL Database: Mongodb
        <ul>
            <li>
                model Schemas
            </li>
            <li>
                document Aggregations
            </li>
            <li>
                Document references or Embedding Documents
            </li>
            <li>
                MongoStore
            </li>
        </ul>
    </li>
    <li>
        Redis
        <ul>
            <li>
                Data Caching
            </li>
        </ul>
    </li>
    <li>
        Node.js
        <ul>
                <li>
                    Express.js
                </li>
                <li>
                    jasonwebtokens
                </li>
                <li>
                    Morgan(Client request logging)
                </li>
                <li>
                    cookieParser
                </li>
                <li>
                    MethodOverride
                </li>
        </ul>
    </li>
    
    <li>
        Pagination
    </li>
    <li>
        Authorisation
        <ul>
            <li>
                Bcrypt
            </li>
        </ul>
    </li>
    <li>
        Authentication
        <ul>
            <li>
                jasonwebtoken
            </li>
        </ul>
    </li>

    <li>
        View(Frontend)
        <ul>
            <li>
                EJS(Embedded Javascript)
            </li>
        </ul>
    </li>

</ul>
