<div class="author">
    <h1 class="author_heading">
        Hi, I am Johnson
    </h1>
    <p class="author_body">
        Software Engineer
    </p>
</div>

<img src="/img/kung-lao.gif" alt="img" class="author_img" width="500" height="428">

<section class="article">
    <h2 class="article_heading">latest Posts</h2>

    <ul class="article_list">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article_list_date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>

</section>