<div class="author">
    <h1 class="author_heading">
        Hi, my name is Johnson
    </h1>
    <p class="author_body">
        Software Engineer
    </p>
</div>

<img src="/static/img/knight.jpg" alt="img" class="author_img" width="981" height="528">